# Custom Chatbot Project

In [10]:
import openai
openai.api_base = "https://openai.vocareum.com/v1"

openai.__version__

'0.28.0'

In [11]:
from dotenv import load_dotenv
import os

# Load environment variables from .env file
load_dotenv()

# Access environment variables like this:
openai.api_key = os.getenv('VOC_API_KEY')

## Dataset Selection

I've chosen the **character_descriptions.csv** dataset, which contains 50 diverse fictional characters from various media (plays, movies, operas, TV shows, musicals). This dataset is ideal for a chatbot because:

1. **Rich, descriptive text**: Each character has detailed personality traits, backgrounds, and relationships that provide substantial context for conversation
2. **Diverse contexts**: Characters span different settings (England, Texas, Australia, Italy, Ancient Greece, USA) and mediums, offering varied conversational scenarios
3. **Well-structured data**: The CSV format is easy to load and manipulate with pandas, with clear fields (Name, Description, Medium, Setting)
4. **Sufficient volume**: With 50 characters and detailed descriptions, there's enough data to create meaningful embeddings and context for a chatbot

## Data Wrangling

TODO: In the cells below, load your chosen dataset into a `pandas` dataframe with a column named `"text"`. This column should contain all of your text data, separated into at least 20 rows.

In [12]:
import pandas as pd


# Load character descriptions dataset
df_in = pd.read_csv('data/character_descriptions.csv')
df_in.head()

    Name                                        Description Medium  Setting
0  Emily  A young woman in her early 20s, Emily is an as...   Play  England
1   Jack  A middle-aged man in his 40s, Jack is a succes...   Play  England
2  Alice  A woman in her late 30s, Alice is a warm and n...   Play  England
3    Tom  A man in his 50s, Tom is a retired soldier and...   Play  England
4  Sarah  A woman in her mid-20s, Sarah is a free-spirit...   Play  England

In [13]:
# Generate new df with only text column
df = pd.DataFrame({'text': df_in['Name'] + ' ' + df_in['Description'] + ' ' + df_in['Medium'] + ' ' + df_in['Setting']})
df.head()

                                                text
0  Emily A young woman in her early 20s, Emily is...
1  Jack A middle-aged man in his 40s, Jack is a s...
2  Alice A woman in her late 30s, Alice is a warm...
3  Tom A man in his 50s, Tom is a retired soldier...
4  Sarah A woman in her mid-20s, Sarah is a free-...

# Generate Embeddings

In [ ]:
# This section was taken and adapted from Udacity "Generative AI" Course - Course 3 Lection 4.24

import os
import numpy as np
import ast
import pandas as pd

EMBEDDING_MODEL_NAME = "text-embedding-ada-002"
embeddings_path = "data/embeddings.csv"

if os.path.exists(embeddings_path):
    df = pd.read_csv(embeddings_path, index_col=0)
    if "embeddings" in df.columns:
        df["embeddings"] = df["embeddings"].apply(ast.literal_eval).apply(np.array)
    print("Used embeddings cache")
else:

    batch_size = 100
    embeddings = []
    for i in range(0, len(df), batch_size):
        # Send text data to OpenAI model to get embeddings
        response = openai.Embedding.create(
            input=df.iloc[i:i+batch_size]["text"].tolist(),
            engine=EMBEDDING_MODEL_NAME
        )
        
        # Add embeddings to list
        embeddings.extend([data["embedding"] for data in response["data"]])

    # Add embeddings list to dataframe
    df["embeddings"] = embeddings
df.head()

Used embeddings cache

,text,embeddings
0,"Emily A young woman in her early 20s, Emily is...","[-0.018092580139636993, -0.010666043497622013,..."
1,"Jack A middle-aged man in his 40s, Jack is a s...","[0.004722620826214552, -0.0182148776948452, 0...."
2,"Alice A woman in her late 30s, Alice is a warm...","[0.003674759529531002, -0.006788234692066908, ..."
3,"Tom A man in his 50s, Tom is a retired soldier...","[0.015497241169214249, -0.019064482301473618, ..."
4,"Sarah A woman in her mid-20s, Sarah is a free-...","[-0.016880445182323456, -0.020853864029049873,..."

Calculate embeddings distance

In [ ]:
# This section was taken from Udacity "Generative AI" Course - Course 3 Lection 4.24

from openai.embeddings_utils import get_embedding, distances_from_embeddings

def get_rows_sorted_by_relevance(question, df):
    """
    Function that takes in a question string and a dataframe containing
    rows of text and associated embeddings, and returns that dataframe
    sorted from least to most relevant for that question
    """
    
    # Get embeddings for the question text
    question_embeddings = get_embedding(question, engine=EMBEDDING_MODEL_NAME)
    
    # Make a copy of the dataframe and add a "distances" column containing
    # the cosine distances between each row's embeddings and the
    # embeddings of the question
    df_copy = df.copy()
    df_copy["distances"] = distances_from_embeddings(
        question_embeddings,
        df_copy["embeddings"].values,
        distance_metric="cosine"
    )
    
    # Sort the copied dataframe by the distances and return it
    # (shorter distance = more relevant so we sort in ascending order)
    df_copy.sort_values("distances", ascending=True, inplace=True)
    return df_copy

In [19]:
get_rows_sorted_by_relevance("Who is Alice?", df)

,text,embeddings,distances
2,"Alice A woman in her late 30s, Alice is a warm...","[0.003674759529531002, -0.006788234692066908, ...",0.126881
0,"Emily A young woman in her early 20s, Emily is...","[-0.018092580139636993, -0.010666043497622013,...",0.156984
1,"Jack A middle-aged man in his 40s, Jack is a s...","[0.004722620826214552, -0.0182148776948452, 0....",0.185353
6,"Rachel A woman in her late 20s, Rachel is a sh...","[-0.006025387439876795, -0.012205769307911396,...",0.205502
4,"Sarah A woman in her mid-20s, Sarah is a free-...","[-0.016880445182323456, -0.020853864029049873,...",0.210428
45,Bianca Lady Olivia's cunning and quick-witted ...,"[-0.015185898169875145, -0.0216203760355711, -...",0.214398
40,Lady Olivia A wealthy and beautiful noblewoman...,"[-0.018803969025611877, -0.019696272909641266,...",0.218828
22,"Dolly A bubbly and vivacious performer, Dolly ...","[-0.03174891322851181, -0.020277494564652443, ...",0.219215
11,"Sonya A white woman in her late 20s, Sonya is ...","[0.0012132300762459636, -0.030315209180116653,...",0.220935
25,"Crystal A quirky and imaginative performer, Cr...","[-0.009569738060235977, -0.01798507198691368, ...",0.223470
8,"Maria A middle-aged Latina woman in her 40s, M...","[-0.009989744052290916, -0.013148609548807144,...",0.225547
24,"Karma A chameleon-like performer, Karma is kno...","[-0.010400550439953804, -0.020317962393164635,...",0.229304
18,"Ava A middle-aged Australian woman in her 50s,...","[-0.0032913233153522015, -0.004543566610664129...",0.229479
47,Feste A jester and musician who works in Lady ...,"[-0.008204508572816849, -0.024826284497976303,...",0.230746
35,Signora Rosa A mysterious and alluring woman w...,"[0.0044090780429542065, -0.006427340675145388,...",0.232918
21,"Sable A sultry and dramatic performer, Sable e...","[-0.03209803253412247, -0.018297752365469933, ...",0.232987
49,Abigail A plucky and resourceful young woman w...,"[-0.02985338121652603, -0.022409623488783836, ...",0.235066
26,Olivia A confident and charismatic marketing e...,"[-0.011876518838107586, -0.015266027301549911,...",0.236767
53,Mrs. Mercer The matriarch of the wealthiest fa...,"[-0.02482621930539608, -0.012157372198998928, ...",0.237476
20,"Johnny A young up-and-coming performer, Johnny...","[-0.03408919647336006, -0.024708161130547523, ...",0.237961
7,"John A man in his 60s, John is a retired profe...","[0.013529057614505291, -0.01444495189934969, -...",0.238459
16,Tahlia A young Indigenous Australian woman in ...,"[-0.020360184833407402, -0.011671444401144981,...",0.238810
50,Thomas A good-natured and affable young man wh...,"[-0.01461752038449049, -0.014500890858471394, ...",0.238838
43,Viola A plucky and resourceful young woman who...,"[-0.011574805714190006, -0.04077444225549698, ...",0.239503
30,Sophia A fun-loving and adventurous travel blo...,"[0.008416912518441677, -0.018449123948812485, ...",0.241646
19,Donna A seasoned performer with a larger-than-...,"[-0.02831760048866272, -0.015828408300876617, ...",0.242201
14,"Mia A young Australian woman in her mid-20s, M...","[-0.01344138290733099, -0.018951434642076492, ...",0.243197
23,"Vixen A fierce and competitive performer, Vixe...","[-0.03636903315782547, -0.026934169232845306, ...",0.243424
37,Francesca A fiery and passionate young woman w...,"[-0.0164291150867939, -0.02431611716747284, -0...",0.247135
3,"Tom A man in his 50s, Tom is a retired soldier...","[0.015497241169214249, -0.019064482301473618, ...",0.247529
32,"Chloe A driven and ambitious attorney, Chloe i...","[-0.011579991318285465, -0.01422684732824564, ...",0.247853
5,"George A man in his early 30s, George is a cha...","[-0.02129712700843811, -0.0142902797088027, 0....",0.249200
42,Malvolio A pompous and self-righteous steward ...,"[-0.013393497094511986, -0.03098759427666664, ...",0.250418
15,"Lucas A middle-aged Australian man in his 40s,...","[-0.000961798767093569, -0.014036353677511215,...",0.250632
28,Maya A kind and compassionate nurse with a hea...,"[-0.03225861117243767, -0.02316850982606411, -...",0.255966
41,Sir Toby Belch A drunken and lecherous knight ...,"[-0.003336471738293767, -0.032009225338697433,...",0.259501
39,Duke Orsino A pompous and self-important noble...,"[-0.00788917113095522, -0.04058762267231941, -...",0.259976
44,Sir Andrew Aguecheek A dim-witted and gullible...,"[-0.024673258885741234, -0.026794973760843277,...",0.261192
13,"Will A white man in his early 40s, Will is a s...","[-0.00286611495539546, -0.04668772220611572, -...",0.262289
10,"Tyler A white man in his mid-30s, Tyler is a t...","[0.013029849156737328, -0.05121901258826256, -...",0.262734
54,Mr. Mercer The bumbling and absent-minded patr...,"[-0.015522904694080353, -0.01684015616774559, ...",0.265265
33,"Jake A laid-back and easygoing firefighter, Ja...","[-0.016980458050966263, -0.023277759552001953,...",0.265545
52,Captain James The charismatic and dashing capt...,"[-0.008466958999633789, -0.019944684579968452,...",0.265685
17,"Max A white Australian man in his late 20s, Ma...","[0.002388683846220374, -0.03567101061344147, -...",0.266932
46,"Sebastian Viola's twin brother, who is also sh...","[-0.010952216573059559, -0.03624306246638298, ...",0.268281
12,"Manuel A middle-aged Hispanic man in his 50s, ...","[-0.015850624069571495, -0.020151598379015923,...",0.270509
34,Prince Lorenzo A charming and handsome prince ...,"[-0.007474577520042658, -0.013348854146897793,...",0.272843
9,Caleb A young African American man in his earl...,"[0.0017989474581554532, -0.028965167701244354,...",0.273604
48,Antonio A sea captain who rescues Sebastian fr...,"[-0.006757786963135004, -0.03642628341913223, ...",0.273932
51,Reverend Brown The pious and stern minister of...,"[0.0004175837675575167, -0.03203962743282318, ...",0.275973
38,Don Carlo A charming and charismatic young man...,"[-0.013541321270167828, -0.011926728300750256,...",0.279809
29,James A handsome and athletic personal trainer...,"[-0.027027247473597527, -0.015857217833399773,...",0.281429
31,"Noah A quirky and creative graphic designer, N...","[-0.024891087785363197, -0.019971689209342003,...",0.283996
27,"Marcus A charming and successful entrepreneur,...","[-0.016586851328611374, -0.04064834862947464, ...",0.286135
36,Baron Gustavo A wealthy and arrogant nobleman ...,"[-0.02530987374484539, -0.021352330222725868, ...",0.292598

## Custom Query Completion

TODO: In the cells below, compose a custom query using your chosen dataset and retrieve results from an OpenAI `Completion` model. You may copy and paste any useful code from the course materials.

In [20]:
get_rows_sorted_by_relevance("What roles are in operas?", df)

,text,embeddings,distances
38,Don Carlo A charming and charismatic young man...,"[-0.013541321270167828, -0.011926728300750256,...",0.197258
47,Feste A jester and musician who works in Lady ...,"[-0.008204508572816849, -0.024826284497976303,...",0.203808
36,Baron Gustavo A wealthy and arrogant nobleman ...,"[-0.02530987374484539, -0.021352330222725868, ...",0.204334
43,Viola A plucky and resourceful young woman who...,"[-0.011574805714190006, -0.04077444225549698, ...",0.204785
35,Signora Rosa A mysterious and alluring woman w...,"[0.0044090780429542065, -0.006427340675145388,...",0.204793
37,Francesca A fiery and passionate young woman w...,"[-0.0164291150867939, -0.02431611716747284, -0...",0.207965
45,Bianca Lady Olivia's cunning and quick-witted ...,"[-0.015185898169875145, -0.0216203760355711, -...",0.215698
46,"Sebastian Viola's twin brother, who is also sh...","[-0.010952216573059559, -0.03624306246638298, ...",0.216578
34,Prince Lorenzo A charming and handsome prince ...,"[-0.007474577520042658, -0.013348854146897793,...",0.220924
39,Duke Orsino A pompous and self-important noble...,"[-0.00788917113095522, -0.04058762267231941, -...",0.221117
48,Antonio A sea captain who rescues Sebastian fr...,"[-0.006757786963135004, -0.03642628341913223, ...",0.221213
42,Malvolio A pompous and self-righteous steward ...,"[-0.013393497094511986, -0.03098759427666664, ...",0.222279
40,Lady Olivia A wealthy and beautiful noblewoman...,"[-0.018803969025611877, -0.019696272909641266,...",0.222822
21,"Sable A sultry and dramatic performer, Sable e...","[-0.03209803253412247, -0.018297752365469933, ...",0.233612
41,Sir Toby Belch A drunken and lecherous knight ...,"[-0.003336471738293767, -0.032009225338697433,...",0.234293
19,Donna A seasoned performer with a larger-than-...,"[-0.02831760048866272, -0.015828408300876617, ...",0.234843
24,"Karma A chameleon-like performer, Karma is kno...","[-0.010400550439953804, -0.020317962393164635,...",0.238272
44,Sir Andrew Aguecheek A dim-witted and gullible...,"[-0.024673258885741234, -0.026794973760843277,...",0.242368
8,"Maria A middle-aged Latina woman in her 40s, M...","[-0.009989744052290916, -0.013148609548807144,...",0.245000
25,"Crystal A quirky and imaginative performer, Cr...","[-0.009569738060235977, -0.01798507198691368, ...",0.247171
20,"Johnny A young up-and-coming performer, Johnny...","[-0.03408919647336006, -0.024708161130547523, ...",0.247900
0,"Emily A young woman in her early 20s, Emily is...","[-0.018092580139636993, -0.010666043497622013,...",0.252426
22,"Dolly A bubbly and vivacious performer, Dolly ...","[-0.03174891322851181, -0.020277494564652443, ...",0.252664
1,"Jack A middle-aged man in his 40s, Jack is a s...","[0.004722620826214552, -0.0182148776948452, 0....",0.255011
4,"Sarah A woman in her mid-20s, Sarah is a free-...","[-0.016880445182323456, -0.020853864029049873,...",0.256835
23,"Vixen A fierce and competitive performer, Vixe...","[-0.03636903315782547, -0.026934169232845306, ...",0.259448
2,"Alice A woman in her late 30s, Alice is a warm...","[0.003674759529531002, -0.006788234692066908, ...",0.261648
7,"John A man in his 60s, John is a retired profe...","[0.013529057614505291, -0.01444495189934969, -...",0.263266
26,Olivia A confident and charismatic marketing e...,"[-0.011876518838107586, -0.015266027301549911,...",0.263895
12,"Manuel A middle-aged Hispanic man in his 50s, ...","[-0.015850624069571495, -0.020151598379015923,...",0.265135
5,"George A man in his early 30s, George is a cha...","[-0.02129712700843811, -0.0142902797088027, 0....",0.265951
6,"Rachel A woman in her late 20s, Rachel is a sh...","[-0.006025387439876795, -0.012205769307911396,...",0.269949
32,"Chloe A driven and ambitious attorney, Chloe i...","[-0.011579991318285465, -0.01422684732824564, ...",0.271847
15,"Lucas A middle-aged Australian man in his 40s,...","[-0.000961798767093569, -0.014036353677511215,...",0.271913
52,Captain James The charismatic and dashing capt...,"[-0.008466958999633789, -0.019944684579968452,...",0.272539
50,Thomas A good-natured and affable young man wh...,"[-0.01461752038449049, -0.014500890858471394, ...",0.274297
18,"Ava A middle-aged Australian woman in her 50s,...","[-0.0032913233153522015, -0.004543566610664129...",0.275522
11,"Sonya A white woman in her late 20s, Sonya is ...","[0.0012132300762459636, -0.030315209180116653,...",0.276004
49,Abigail A plucky and resourceful young woman w...,"[-0.02985338121652603, -0.022409623488783836, ...",0.276393
27,"Marcus A charming and successful entrepreneur,...","[-0.016586851328611374, -0.04064834862947464, ...",0.277213
53,Mrs. Mercer The matriarch of the wealthiest fa...,"[-0.02482621930539608, -0.012157372198998928, ...",0.279246
51,Reverend Brown The pious and stern minister of...,"[0.0004175837675575167, -0.03203962743282318, ...",0.279361
54,Mr. Mercer The bumbling and absent-minded patr...,"[-0.015522904694080353, -0.01684015616774559, ...",0.280349
13,"Will A white man in his early 40s, Will is a s...","[-0.00286611495539546, -0.04668772220611572, -...",0.280601
30,Sophia A fun-loving and adventurous travel blo...,"[0.008416912518441677, -0.018449123948812485, ...",0.282952
31,"Noah A quirky and creative graphic designer, N...","[-0.024891087785363197, -0.019971689209342003,...",0.283063
9,Caleb A young African American man in his earl...,"[0.0017989474581554532, -0.028965167701244354,...",0.283165
3,"Tom A man in his 50s, Tom is a retired soldier...","[0.015497241169214249, -0.019064482301473618, ...",0.283797
14,"Mia A young Australian woman in her mid-20s, M...","[-0.01344138290733099, -0.018951434642076492, ...",0.284814
33,"Jake A laid-back and easygoing firefighter, Ja...","[-0.016980458050966263, -0.023277759552001953,...",0.284978
10,"Tyler A white man in his mid-30s, Tyler is a t...","[0.013029849156737328, -0.05121901258826256, -...",0.285936
28,Maya A kind and compassionate nurse with a hea...,"[-0.03225861117243767, -0.02316850982606411, -...",0.290204
17,"Max A white Australian man in his late 20s, Ma...","[0.002388683846220374, -0.03567101061344147, -...",0.295369
16,Tahlia A young Indigenous Australian woman in ...,"[-0.020360184833407402, -0.011671444401144981,...",0.297519
29,James A handsome and athletic personal trainer...,"[-0.027027247473597527, -0.015857217833399773,...",0.303848

In [ ]:
# This section was taken and adapted from Udacity "Generative AI" Course - Course 3 Lection 4.24

import tiktoken

def create_prompt(question, df, max_token_count):
    """
    Given a question and a dataframe containing rows of text and their
    embeddings, return a text prompt to send to a Completion model
    """
    # Create a tokenizer that is designed to align with our embeddings
    tokenizer = tiktoken.get_encoding("cl100k_base")
    
    # Count the number of tokens in the prompt template and question
    prompt_template = """
Answer the question based on the context below, and if the question
can't be answered based on the context, say "I don't know"

Context: 

{}

---

Question: {}
Answer:"""
    
    current_token_count = len(tokenizer.encode(prompt_template)) + \
                            len(tokenizer.encode(question))
    
    context = []
    for text in get_rows_sorted_by_relevance(question, df)["text"].values:
        
        # Increase the counter based on the number of tokens in this row
        text_token_count = len(tokenizer.encode(text))
        current_token_count += text_token_count
        
        # Add the row of text to the list if we haven't exceeded the max
        if current_token_count <= max_token_count:
            context.append(text)
        else:
            break

    return prompt_template.format("\n\n###\n\n".join(context), question)

In [ ]:
print(create_prompt("Is there a series or tv show with a role of max who has a sister Mia?", df, 200))

Answer the question based on the context below, and if the question
can't be answered based on the context, say "I don't know"

Context:

Mia A young Australian woman in her mid-20s, Mia is a driven and ambitious lawyer who's just landed her dream job at a top law firm in Sydney. She's the younger sister of Max, a former soldier who's struggling with PTSD, and is trying to help him navigate his challenges while also balancing her demanding career. Limited Series Australia

---

Question: Is there a series or tv show with a role of max who has a sister Mia?
Answer:

In [ ]:
# This section was taken and adapted from Udacity "Generative AI" Course - Course 3 Lection 4.24

COMPLETION_MODEL_NAME = "gpt-3.5-turbo-instruct"

def answer_question_with_custom_prompt(
    question, df, max_prompt_tokens=1800, max_answer_tokens=150
):
    """
    Given a question, a dataframe containing rows of text, and a maximum
    number of desired tokens in the prompt and response, return the
    answer to the question according to an OpenAI Completion model
    
    If the model produces an error, return an empty string
    """
    
    prompt = create_prompt(question, df, max_prompt_tokens)

    try:
        response = openai.Completion.create(
            model=COMPLETION_MODEL_NAME,
            prompt=prompt,
            max_tokens=max_answer_tokens
        )
        return response["choices"][0]["text"].strip()
    except Exception as e:
        print(e)
        return ""
    
def answer_question_basic(
    question,max_answer_tokens=150
):
    """
    Given a question, a dataframe containing rows of text, and a maximum
    number of desired tokens in the prompt and response, return the
    answer to the question according to an OpenAI Completion model
    
    If the model produces an error, return an empty string
    """

    try:
        response = openai.Completion.create(
            model=COMPLETION_MODEL_NAME,
            prompt=question,
            max_tokens=max_answer_tokens
        )
        return response["choices"][0]["text"].strip()
    except Exception as e:
        print(e)
        return ""

## Custom Performance Demonstration

TODO: In the cells below, demonstrate the performance of your custom query using at least 2 questions. For each question, show the answer from a basic `Completion` model query as well as the answer from your custom query.

### Question 1

In [25]:
# Basic Model

print(answer_question_basic("Is there a series or tv show with a role of max who has a sister Mia?"))

Not that matches this specific description; however, there are some shows with similar elements:

1. "Stranger Things": The character Max has a stepbrother named Billy.

2. "Better Things": The character Max has two sisters, and one of them is named "Mae".

3. "Andi Mack": The main character Andi has an older sister named Bex, who also goes by Max.

4. "The Goldbergs": The character Adam has a sister named Erica, whose full name is Erica "Eric" Goldberg.

5. "The Haunting of Hill House": One of the main characters, Luke, has a twin sister named Nell, who is often referred to as "Nellie" or

In [ ]:
# Custom prompt

print(answer_question_with_custom_prompt("Is there a series or tv show with a role of max who has a sister Mia?",df,200))

Limited Series Australia

### Question 2

In [28]:
# Basic Model

print(answer_question_basic("There is a US based reality show with a fireman Jack. What was his ambition in the show?"))

It is not clear which specific reality show you are referring to, as there are multiple reality shows in which a fireman named Jack appears. Therefore, it is not possible to accurately answer this question.

In [31]:
print(answer_question_with_custom_prompt("There is a US based reality show with a firefighter Jack. What was his ambition in the show?",df,200))

To find a partner who values honesty and integrity and is looking for a stable and committed relationship.